:root {
  font-size: 16px;
  --color-text: #060606;
  --color-bg: #f3eee8;
  --color-brown: #e2dacc;
  --color-red: #d73234;
  --color-blue: #9cb6c1;
  --color-pink: #f7c0c9;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--color-red);
  outline: none;
  cursor: pointer;
}

a:hover,
a:focus {
  color: var(--color-pink);
  outline: none;
}

.logo {
  position: fixed;
  top: 20px;
  left: 2%;
  height: 60px;
  width: 60px;
}
