*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  --color-text: #111;
  --color-bg: #fff;
  --color-link: #c0092b;
  --color-link-hover: #000;
  --color-menu: #000;
  --color-menu-hover: #c0092b;
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: freight-big-pro, "Minion Pro", serif;
  font-weight: 300;
  height: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  cursor: pointer;
}

a:hover,
a:focus {
  color: var(--color-link-hover);
  outline: none;
}
