.cta {
  position: fixed;
  bottom: 5%;
  right: 2%;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
  z-index: 20;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  /* background: rgba(255, 171, 157, 0.5); */
  background: var(--color-pink);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta span {
  color: var(--color-text);
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--color-text);
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: var(--color-pink);
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}
